<div id="edit" name="edit">
  <div id="toolbar" class="white-text toolbar-container blue-grey lighten-1 z-depth-1">
    <div></div>
    <div class="toolbar-inner">
      <div class="waves-effect waves-light btn-flat tooltipped" data-position="bottom" data-tooltip="Insert textbox">
        <i class="material-icons">text_fields</i>
      </div>
      <div class="waves-effect waves-light btn-flat tooltipped" data-position="bottom" data-tooltip="Insert checkbox">
        <i class="material-icons">check_box</i>
      </div>
      <div class="waves-effect waves-light btn-flat tooltipped" data-position="bottom" data-tooltip="Insert hint">
        <i class="material-icons">help</i>
      </div>
      <div class="waves-effect waves-light btn-flat tooltipped" data-position="bottom" data-tooltip="Insert comment">
        <i class="material-icons">insert_comment</i>
      </div>
      <div class="input-field valign-wrapper tooltipped" data-position="bottom" data-tooltip="Textbox length">
        <input class="center" type="text" value="8" disabled>
      </div>
      <div class="input-field valign-wrapper tooltipped" data-position="bottom" data-tooltip="Open delimeter">
        <input class="center" type="text" value="${" placeholder="${">
      </div>
      <div class="input-field valign-wrapper tooltipped" data-position="bottom" data-tooltip="Close delimeter">
        <input class="center" type="text" value="}" placeholder="}">
      </div>
      <div class="input-field valign-wrapper tooltipped" data-position="bottom" data-tooltip="Data retrieval url">
        <input class="center" type="text" placeholder="www.test.com?q=${e1}">
      </div>
      <div class="input-field valign-wrapper">
        <select id="apprList" multiple>
          <option value="" disabled selected>Choose approvers</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>
    <div></div>
  </div>
  <img class="preview-img" src="/docs/image/{{doc.file.filename}}">

</div>