{{> _modal}}
<div id="homepage" name="homepage">
  <div class="row">
    {{#each docs}}
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img class="mx-auto item-img" src="{{subData.iPicLink}}">
          </div>
          <div class="card-content blue-grey darken-1 white-text">
            <span class="card-title">${subData.iName}</span>
            <div class="fixed-action-btn" style="position: absolute; bottom: 17px;">
              <a class="btn-floating btn-large red">
                <i class="large material-icons">mode_edit</i>
              </a>
              <ul>
                <li title="Delete">
                  <a class="btn-floating red">
                    <i class="material-icons">delete</i>
                  </a>
                </li>
                <li title="Download">
                  <a class="btn-floating yellow darken-1">
                    <i class="material-icons">file_download</i>
                  </a>
                </li>
                <li title="Share">
                  <a class="btn-floating green">
                    <i class="material-icons">person_add</i>
                  </a>
                </li>
                <li title="Preview">
                  <a id="enter${nowHaveItemCount}" class="btn-floating blue">
                    <i class="material-icons">visibility</i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {{else}}
        <div class="col s12 center-align">
          <h5>No document created.</h5>
          <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet quo eius impedit suscipit, sint quasi. Sint sapiente, autem
            maiores vel facilis rerum nisi a omnis tenetur iusto ratione voluptate fugit placeat beatae rem? Velit consequuntur
            incidunt atque hic mollitia porro molestiae veritatis doloribus ullam architecto placeat tenetur molestias explicabo
            praesentium vitae sed voluptatibus optio temporibus, possimus ducimus eaque ipsa nesciunt dolorem quaerat! Praesentium
            nam eum cum omnis, explicabo, voluptatum dolor fuga quod sint, autem error alias ipsum ad esse dignissimos recusandae.
            Atque molestias obcaecati similique cum deserunt ex maiores dolores laborum fugiat quasi, harum soluta optio
            quaerat doloribus vitae voluptate odit assumenda corporis iure adipisci inventore nemo eaque, cumque consequatur?
            Aspernatur eveniet beatae incidunt ut tempora optio earum quis obcaecati placeat nemo adipisci a cum quidem hic
            quod quia, voluptatibus rem nesciunt totam error cumque similique. Voluptatem fugit ex veritatis omnis eligendi.
            Laudantium perspiciatis omnis vitae impedit iste dolore itaque corrupti. Asperiores voluptas exercitationem,
            facere tempore pariatur cumque! Error laborum nulla eaque repudiandae nam placeat officia neque provident. Hic
            accusamus nemo numquam magni dolore, officia molestias molestiae illo illum dolorem deserunt alias amet nostrum,
            in magnam! Laboriosam labore maxime deleniti libero dolorum illum, ullam delectus reprehenderit dolorem? Ullam
            cupiditate atque eveniet fuga nisi? Laudantium temporibus officiis delectus, deleniti dolorem soluta saepe alias?
            Consectetur aspernatur veritatis voluptate aut, eligendi, consequuntur itaque dolor dolores explicabo voluptates
            facere ipsam? Veritatis laudantium deleniti aspernatur iste architecto. Earum aperiam repellat numquam aspernatur
            nam adipisci itaque, mollitia voluptas consequuntur impedit similique recusandae nemo quia delectus, ad non consequatur
            a hic ratione. Esse adipisci voluptatibus excepturi cumque, sapiente facilis rerum ducimus obcaecati sequi commodi
            atque ab modi laudantium quis quia hic explicabo at accusamus saepe amet, libero quibusdam omnis illum! Enim
            iusto sequi nesciunt sit nobis velit voluptatem voluptatum nostrum quisquam voluptas sed tempore natus animi
            pariatur error reprehenderit repudiandae id itaque labore, vitae consectetur quas necessitatibus? Asperiores
            quas in reprehenderit. Ullam nesciunt amet animi consequuntur quis perspiciatis magnam tenetur dicta, rerum sequi
            alias facilis laborum aliquid quisquam. Sequi enim magnam ut deleniti ad similique id delectus at praesentium
            eaque voluptates sed et laboriosam labore, rerum quas, consectetur distinctio, iusto pariatur. Nesciunt, aspernatur
            eum in veritatis ut assumenda quidem velit quos voluptate architecto, nostrum quibusdam dolore dolorem reiciendis
            rem consectetur, aliquam quasi similique fugiat. Totam similique nesciunt voluptate incidunt odit nihil cum ea
            est quae saepe eos excepturi at aliquam, nisi necessitatibus dolor error vitae expedita. Eveniet atque alias
            quibusdam voluptatem officiis illum, itaque iure voluptas incidunt aliquam voluptates at enim dolorum consectetur
            sapiente eligendi tempora excepturi odio similique. Odio cupiditate nemo explicabo vel temporibus magni ex. Cumque,
            alias magni labore eveniet provident, eum autem, itaque delectus odit a omnis officiis maxime perspiciatis totam
            repellendus rem? Quaerat, consectetur. Facilis doloremque accusamus molestias et ea nemo iusto beatae exercitationem
            maxime sequi consequatur, architecto, eligendi nam fugiat dolores fugit modi voluptatem dolor earum nisi perferendis,
            obcaecati eveniet? Libero quos illum non maxime placeat, a fugit aut eum consectetur impedit ullam odit eligendi
            aperiam nisi earum doloremque beatae, accusamus consequuntur optio asperiores sapiente minima deserunt! Quaerat
            alias praesentium, rerum beatae esse aut corrupti possimus tenetur mollitia sint vel nihil fuga nisi. Velit ipsum
            a impedit dignissimos! Fugit eligendi dignissimos repellat ipsum, incidunt amet delectus cupiditate. Vel quae
            accusantium nobis molestiae iure. Vel provident quidem aliquam aut illo. Quia modi dignissimos voluptatum rerum
            error corrupti quibusdam voluptatem voluptates cum aut consequatur qui beatae tempora velit debitis obcaecati,
            asperiores sequi delectus soluta quos. Dignissimos obcaecati saepe, porro totam possimus temporibus a dicta non
            facere doloribus animi hic asperiores maxime nulla, quaerat quam. Non, nihil suscipit! Facere ducimus ipsam explicabo
            doloribus? Porro qui autem fugit, debitis mollitia et. Sint voluptatem perferendis maxime dolorem consequuntur,
            numquam incidunt fugit unde non, delectus itaque aliquam harum natus totam ab hic veritatis deleniti commodi
            asperiores est accusamus. Deserunt velit sed similique! Harum labore adipisci culpa? Nisi natus, aspernatur ex
            eius repellat ad eaque itaque temporibus ipsam atque perspiciatis est, repellendus ipsa. Maiores quas in ut eos
            praesentium repellendus fugiat accusantium optio, ab veniam repellat, exercitationem odio aliquid unde nobis
            quae quam dolor ratione et quod molestiae dolorum recusandae deserunt. Nobis magnam vero iste praesentium provident
            earum quae nemo autem beatae maiores laborum necessitatibus possimus mollitia, eveniet delectus reiciendis. Tempore
            dolorum consequuntur cum explicabo quos itaque. Doloribus fugit accusantium quis magnam sit odio delectus dolorem
            aliquam blanditiis! Consectetur, consequuntur esse iure ipsa explicabo quis perferendis temporibus ducimus officia.
            Fugiat error tempora est unde at corporis iure dignissimos pariatur molestiae nesciunt perspiciatis ipsam dolorum
            quis a dicta eligendi odio voluptate, culpa aut eos exercitationem esse harum? Iusto nisi reiciendis dignissimos,
            repudiandae hic perspiciatis voluptate iure. Eos quam consequuntur in excepturi molestiae sunt, fugit at obcaecati
            atque odio? Dolorem cum adipisci enim hic, eos corporis, veniam commodi numquam minima voluptas doloremque aut
            natus sapiente magni voluptatibus? Quae nam, debitis deserunt officia pariatur maxime quisquam repellendus et
            non nihil hic, architecto magnam dicta veniam beatae! Eum, dignissimos. Officiis eaque dolores rerum incidunt
            aliquam voluptates quasi labore dignissimos, modi facere eveniet sequi reprehenderit itaque! Quas, quaerat voluptatibus
            sed adipisci distinctio cumque. Fugit ducimus laudantium vero reprehenderit nisi esse incidunt accusamus eos
            excepturi corporis dolore illum voluptates, libero itaque porro totam quae architecto, nihil reiciendis doloribus
            quam consequuntur maiores! Magnam iste placeat repellendus omnis reprehenderit expedita voluptates tempora reiciendis
            accusantium? Doloremque dolorum ab saepe assumenda exercitationem eum fugit. Laudantium harum, adipisci nesciunt,
            doloremque porro libero suscipit odit sunt, laborum exercitationem ad assumenda sit nobis labore similique. Non
            sequi, quam, perspiciatis asperiores eum numquam nam fuga fugiat nihil ipsa aut repudiandae dolor quos repellat
            laborum quaerat delectus reprehenderit veniam. Pariatur suscipit magni ea molestias officiis eum, molestiae tenetur
            culpa dicta dignissimos officia voluptatum iure dolorem excepturi iusto, qui, at incidunt reprehenderit tempora
            ullam quis ipsam? Tempore laborum, quibusdam veniam maiores voluptate corporis itaque veritatis vel velit excepturi
            ullam hic ea quis magni perferendis iure. Ducimus ea maiores, aspernatur at, aperiam labore molestiae inventore
            quo nobis eum amet. Porro mollitia quam cupiditate aliquid. Explicabo eveniet eum, hic qui neque saepe quibusdam
            ipsum ducimus molestiae rerum. Dolorum eum odit ipsa recusandae, cumque optio omnis iure explicabo quasi laudantium
            harum reprehenderit? Omnis iure, consequuntur, unde deleniti quod cumque ullam, vel commodi animi a distinctio.
            Hic adipisci numquam at soluta odit quidem quaerat necessitatibus ea praesentium totam magnam facilis atque rerum
            distinctio, dolor accusamus reiciendis culpa impedit aliquam sequi incidunt sapiente illo? Ut omnis placeat voluptas
            neque fugiat architecto explicabo facilis ipsam magnam alias perspiciatis, corrupti at aliquid eius quos exercitationem
            tempore. Recusandae, dolorum at. Non nam officia qui dicta debitis, eius cupiditate ad, ducimus voluptate possimus
            earum! Quasi ducimus cum distinctio aliquid, fugit incidunt odio nihil quae sint dignissimos iure similique repellat
            fugiat, debitis accusantium consectetur temporibus nemo eius esse possimus, delectus itaque expedita. Ab est
            placeat vero eos magnam sint illo! Voluptate accusamus distinctio maiores suscipit nobis et quaerat voluptatibus
            ratione, vel fugit corrupti voluptatem illo enim fugiat adipisci blanditiis cum neque eius quam nostrum dignissimos
            numquam accusantium sint debitis! Fuga veritatis dignissimos cupiditate modi ex nobis nesciunt non. Illum beatae
            consequuntur obcaecati, dicta vero debitis minus doloremque eveniet repudiandae expedita, qui deleniti repellendus
            soluta maxime ad. Assumenda obcaecati corporis nulla rerum dolorum deleniti ducimus maxime cumque sit? Nemo nostrum,
            sequi quis, minima veritatis soluta unde recusandae, ratione accusantium rerum tempore minus esse porro voluptate
            perspiciatis magnam dolore voluptas deleniti amet. Deleniti praesentium incidunt quis molestiae rem eum, vel
            fugit nulla commodi. Praesentium ipsa atque quas quis consequatur voluptatum consectetur maxime? Debitis, voluptatum
            animi explicabo odio ducimus est laboriosam fugit aliquam atque fuga dicta, quia vel odit incidunt. Totam architecto
            quasi magnam velit error amet suscipit animi. Incidunt, cumque. Nihil, reiciendis fugiat quod quos deserunt consequatur
            id soluta nam odit architecto veritatis rerum dolorum asperiores at animi doloremque commodi quia eum quas! Minus
            asperiores labore corrupti ea ipsa officia cum similique? Voluptates pariatur blanditiis unde necessitatibus
            doloribus? Non quis excepturi eius suscipit aperiam perferendis ipsam vel, quo deserunt eveniet alias ratione
            qui maiores est illum fuga. Consequatur, est perferendis. Perferendis quae dolorem quo laborum doloremque. Alias
            repellat provident, esse repudiandae tempora id modi tenetur ad sed fuga quaerat porro nemo totam perferendis
            sequi vero maiores nobis vel. Eos, eaque? Omnis, fuga blanditiis veritatis amet molestiae accusantium autem beatae
            aliquam asperiores non, fugiat eligendi ratione praesentium id accusamus in veniam quod, assumenda numquam eum.
            Reprehenderit quod soluta a sit nostrum rerum atque officia aperiam excepturi obcaecati omnis vel, blanditiis
            voluptatem quasi odit, ratione quo quia facere enim optio alias dolore! Ab culpa repellat voluptate officiis
            harum, quis magnam facere explicabo aliquid quae amet sunt tempora excepturi fugiat aperiam vel ullam? Doloremque
            nisi cumque facere ea sunt saepe sit maxime cupiditate in iste magnam dolorum voluptatibus culpa eum id enim
            beatae obcaecati nemo harum doloribus labore cum, aliquid minima ab. Ut similique impedit, nobis sed reprehenderit
            nemo rem aspernatur modi debitis corrupti! Ipsa magnam corrupti ea nobis consequuntur cupiditate eligendi alias
            beatae sint, neque, assumenda non eaque dolore? Ipsa minus sapiente fugiat vitae iusto voluptas nam explicabo.
            Praesentium reiciendis saepe repellendus quaerat voluptas, dignissimos illum consequuntur id laboriosam explicabo
            mollitia aliquam perspiciatis vitae at iusto sint deserunt laborum laudantium porro, facere culpa voluptatibus?
            Perferendis corrupti omnis fugit nam totam alias, itaque commodi atque non maiores amet in impedit expedita facere
            nulla laudantium quae voluptatibus nihil cupiditate molestiae quidem maxime eos. Quibusdam similique sit excepturi
            quidem reiciendis! Quibusdam sed placeat maxime eius similique, voluptatum porro tempora blanditiis impedit nulla
            reiciendis optio ipsam perferendis ad explicabo. Aliquam corrupti dolorem minima dolores ea voluptatum provident
            eum fugiat, assumenda atque quae reiciendis tenetur eius laboriosam consequatur porro, ipsa recusandae odit mollitia
            pariatur earum, rerum fugit deleniti. Id a, ab temporibus aperiam ipsa qui ex? Neque, asperiores placeat. Optio
            incidunt rem saepe placeat sequi dolores fugiat itaque? Ut delectus, pariatur temporibus nihil exercitationem
            debitis. Impedit, dicta. Neque ab autem soluta nisi aliquid tempore atque doloribus nam totam ratione repudiandae,
            ullam laboriosam sunt voluptatibus laborum voluptates perferendis veniam dolores maiores aspernatur quidem porro
            impedit, harum temporibus? Vero expedita autem ipsum ducimus quidem consectetur eos ex natus suscipit maxime
            neque nulla incidunt, vitae facilis exercitationem, quod esse quis non laudantium sint sequi illo nihil? At consequatur
            voluptate nostrum magni obcaecati cumque? Enim omnis dolorum esse neque amet distinctio rem odit beatae dolore,
            vero deserunt eos possimus corporis vitae deleniti expedita provident dignissimos nulla quibusdam eaque veniam?
            Eius reiciendis reprehenderit rerum, iure quod accusantium, repudiandae doloribus sunt cupiditate, esse hic nemo
            consequuntur. Consequuntur libero similique vero voluptatem reiciendis numquam, quaerat nisi impedit nihil inventore
            obcaecati enim, corporis laudantium cum est doloremque, nulla sint fugit minus eaque dolor voluptas! Rerum laborum
            ratione voluptatum modi? Consequuntur labore dicta nam exercitationem cum dolores suscipit, officia eligendi.
            Illum optio reiciendis dolorem aspernatur iste ipsa sit numquam similique illo. Est commodi officia odio accusantium
            possimus exercitationem rem dolore velit nesciunt sint eius, aliquid, neque tenetur dolor quo! Illo beatae nesciunt
            tenetur doloribus soluta, a commodi fugiat repellat aliquam, recusandae ipsum officia. Tenetur consectetur inventore
            quam quidem perspiciatis illum. Ipsam, quas quis! Illum debitis molestiae nemo dicta maiores aliquam dolores
            numquam modi architecto necessitatibus quia reiciendis sed provident possimus vel voluptatem voluptate exercitationem
            eius repellat repellendus qui, assumenda ad. Inventore ullam quas ipsa culpa quis eum sint, assumenda veritatis
            reprehenderit quam similique quos iusto excepturi commodi recusandae fugit omnis, sequi fuga ratione. Magnam
            non, quod, cupiditate nisi sequi in obcaecati quo ex repellendus, temporibus hic atque ad suscipit similique
            at. Eos temporibus incidunt cumque animi commodi. Perferendis, sint. Velit nesciunt illo libero cum eligendi,
            sequi numquam soluta voluptas vitae magni et veniam consectetur obcaecati atque quasi recusandae quia? At qui,
            id debitis incidunt vel amet magni minima blanditiis voluptatem saepe iste ducimus delectus porro est eos laborum?
            Delectus beatae dolores, repudiandae modi libero, voluptas quibusdam totam vel, veritatis dignissimos velit possimus
            tempora excepturi aut. Officiis officia quas eveniet? At sint voluptatibus voluptatum error voluptate. Natus
            qui sint inventore incidunt quibusdam adipisci sit. Iste, tempora inventore! Natus, atque dolorum quis, facere
            illo dolores perspiciatis provident odit doloribus praesentium unde cupiditate esse nostrum odio rem. Unde magnam
            laborum odio nisi ipsam vero numquam cupiditate?
          </div>
        </div>
    {{/each}}
  </div>

</div>



{{!-- <!-- Preloader wrapper -->
  <div id="preloader" class="col s12 center" style="margin: 10vh;">
    <div class="preloader-wrapper active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="holdItem" class="row">

  </div> --}}