<!-- All modal -->
<div id="create-form" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>New form</h4>
    <div class="create-form-container row">
      <div class="create-form-left">
        <div class="input-field">
          <input type="text" name="formname" id="formname">
          <label for="formname">Form name</label>
        </div>
        <form action="/docs/upload" method="post" class="dropzone" id="file-pickers">
          <div class="striped" id="previews">
            <div id="template">
              <!-- This is used as the file preview template -->
              <div class="row">
                <div class="col s12">
                  <img class="mx-auto" style="display: block;max-width: 100%;" data-dz-thumbnail />
                </div>
                <div class="col s12">
                  <span class="truncate">Filename: <strong data-dz-name></strong></span>
                  <span class="truncate">Size: <strong data-dz-size></strong></span>
                  <span class="truncate">Type: <strong data-dz-type></strong></span>
                </div>
              </div>
              <div>
                <strong class="red-text truncate" data-dz-errormessage></strong>
                <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                  <div class="determinate" style="width: 0%" data-dz-uploadprogress></div>
                </div>
              </div>
              <div>
                <button data-dz-remove class="btn waves-effect waves-light alert-warning cancel">
                  <i class="material-icons right">cancel</i>
                  <span>Cancel</span>
                </button>
                <button data-dz-remove class="btn waves-effect waves-light alert-danger delete">
                  <i class="material-icons right">delete_forever</i>
                  <span>Delete</span>
                </button>
              </div>
            </div>
          </div>
          <div class="fallback">
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input id="file-picker" name="file-picker" type="file" accept="image/*">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <form action="/docs/add" method="post" class="col m6">
    <div class="hide">
      <input type="text" name="id" id="id">
      <input type="text" name="filename" id="filename">
      <input type="text" name="originalname" id="originalname">
      <input type="text" name="title" id="title">
    </div>
    <div class="modal-footer">
      <button type="submit" id="btn-submit-form" disabled class="modal-action waves-effect waves-green btn-flat start">Submit</button>
      <button data-dz-remove type="reset" id="btn-reset-form" class="waves-effect waves-green btn-flat">Reset</button>
    </div>
  </form>
</div>



<div id="setting-modal" class="modal">
  <div class="modal-content">
    <div class="setting-header blue-grey darken-2">
      <h4 style="padding: 24px 24px 0 24px; color: white;">Settings</h4>
      <ul id="setting-tab" class="tabs tabs-fixed-width blue-grey darken-2">
        <li class="tab">
          <a href="#basic-setting" class="active">Basic</a>
        </li>
        <li class="tab">
          <a href="#advance-setting">Advance</a>
        </li>
        <li class="tab">
          <a href="#share-setting">Share</a>
        </li>
      </ul>
    </div>
    <div class="basic-setting" id="basic-setting">
      <h6 style="font-weight: bold;">Basic Settings</h6>
      <div class="settings">
        <span>Form types:</span>
        <div class="switch">
          <label>
            Survey
            <input name="formType" id="formType" type="checkbox">
            <span class="lever"></span> Form
          </label>
        </div>
      </div>
      <div class="settings" for="approvers">
        <span>Approvers:</span>
        <div class="chips" id="approvers">
          <input class="chips-class" disabled="disabled">
        </div>
      </div>
      <div class="settings" id="comp-holder">
        <span>Components:</span>
        <div class="comp-holder header">
          <span>No.</span>
          <span>Value</span>
          <span>Placeholder</span>
          <span>Approver</span>
        </div>
      </div>
    </div>
    <div class="advance-setting" id="advance-setting">
      <h6 style="font-weight: bold;">Advance Settings</h6>
      <div class="settings">
        <span>Delimiters:</span>
        <div class="delimiter">
          <div>
            Open
            <div class="input-field inline">
              <input id="open-deli" type="text" placeholder="${">
            </div>
          </div>
          <div>
            Close
            <div class="input-field inline">
              <input id="close-deli" type="text" placeholder="}">
            </div>
          </div>
        </div>
      </div>
      <div class="settings">
        <span>Url:</span>
        <div class="input-field">
          <input id="open-deli" type="text" placeholder="www.test.com/?box1=${comp1}">
        </div>
      </div>
    </div>
    <div class="share-setting" id="share-setting">
      <h6 style="font-weight: bold;">Share Options</h6>
      <div class="settings url-copy">
        <select id="url-appr" class="browser-default">
          <option value="Option1">Option1</option>
          <option value="Option2">Option2</option>
        </select>
        <input type="text" name="url-holder" class="browser-default" id="url-holder" readonly="readonly">
        <button class="waves-effect waves-light btn" id="url-copy-btn">Copy</button>
      </div>
      <h6 class="no-span">OR</h6>
      <div class="settings url-qr">
        {{!-- <canvas id="url-qr" class="mx-auto" style="display:block;"></canvas> --}}
        {{!-- <canvas id="url-qr" class="mx-auto" style="display:block;"></canvas> --}}
        {{!-- <img id="url-qr" class="mx-auto materialboxed" style="display: block;" src=""> --}}
        {{!-- <svg id="url-qr" shape-rendering="crispEdges" class="mx-auto materialboxed" style="display: block;"></svg> --}}
      </div>
    </div>
  </div>
  {{!-- <div class="modal-footer">
    <a href="#!" id="update-indi" class="waves-effect waves-green btn-flat text">Cancel</a>
    <a href="#!" id="update-indi" class="modal-close waves-effect waves-green btn-flat text">Cancel</a>
    <a href="#!" id="show-chip" class="waves-effect waves-green btn-flat text">Save</a>
    <a href="#!" class="modal-close waves-effect waves-green btn-flat text">Save</a>
  </div> --}}
</div>