<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/css/libs/materialize-icons/material-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/libs/materialize.css">
  <link rel="icon" href="/img/icon-tu.gif">
  <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
  <script src="/js/libs/materialize.js"></script>
  <title>Thank you</title>
  <style>
    body {
      font-family: 'Oswald', sans-serif;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 50vh;
    }

    .material-icons {
      color: #3FB839;
      font-size: 5rem;
    }

    div>span {
      color: #5C5C5C;
    }

    .thanks {
      font-size: 6rem;
      font-weight: 500;
    }

    .desc {
      font-size: 4rem;
      font-weight: 300;
    }
  </style>
</head>

<body>
  <div class="container">
    <i class="material-icons">beenhere</i>

    <div><span class="thanks">Thank you!</span></div>
    <div><span class="desc">You submission is received.</span></div>
  </div>
</body>

</html>