body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg {
  background: url("/img/dustin-lee-19667-unsplash.jpg");
  background-size: cover;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.alert {
  border: 1px solid transparent;
  margin-top: 1rem;
  padding: 0.75rem 1.25rem !important;
  position: relative;
}

.alert-danger {
  background-color: #f93b51;
  border-color: #f93b51;
  color: #fff;
}

.alert-success {
  background-color: #2dc45c;
  border-color: #2dc45c;
  color: #fff;
}

.alert-warning {
  background-color: #fb8735;
  border-color: #fb8735;
  color: #fff;
}

.alert-info {
  background-color: #44b7e1;
  border-color: #44b7e1;
  color: #fff;
}

.non-radius {
  border-radius: 0;
}

.brand-logo {
  padding-left: 10px !important;
}

.card-item {
  margin: 20px;
  padding: 0;
}

.item-img {
  height: 25vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.preview-img {
  border: 1px solid #808080;
  border-radius: 3px;
  display: block;
  margin: 50px auto;
  max-width: 100vw;
  width: 700px;
}

.sticky-offset {
  width: 100vw;
}

#edit > .card > .card-content {
  padding: 5px 24px;
}

.toolbar-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 0 auto;
  padding: 0 24px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 800px;
  z-index: 2;
}

@media screen and (width: 1024px) {
  .brand-logo {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .toolbar-container {
    max-width: 1280px;
    width: 100%;
  }
}

.toolbar-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(5, 50px);
  justify-items: center;
  justify-self: center;
}

.toolbar-inner div:hover {
  background-color: #90a4ae;
}

.save-doc .btn-flat,
.toolbar-inner .btn-flat {
  border-radius: 0;
  height: 100%;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.save-doc .btn-flat i,
.toolbar-inner .btn-flat i {
  color: #fff;
  font-size: 26px;
  vertical-align: middle;
}

.toolbar-inner .input-field,
.toolbar-inner .input-field * {
  margin: 0 !important;
  width: 100%;
}

.toolbar-inner * input {
  border-bottom: unset !important;
}

.save-doc .btn-flat:hover {
  background-color: #80cbc4 !important;
}

.save-doc .btn-flat span {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.save-doc .btn-flat i {
  font-size: 16px;
}

.toolbar-inner > .input-field > input[type='text']:focus,
.toolbar-inner > .input-field > input[type='text']:hover,
.toolbar-inner > .input-field > .select-wrapper:hover {
  background-color: #90a4ae;
}

/* Search box - Navbar */
.search-wrapper {
  margin-top: 7px;
}

.search-wrapper .search-input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  font-size: 16px;
  font-weight: 300;
  height: 50px;
  margin: 0;
  padding: 0 45px 0 15px;
  width: 100%;
}

.search-wrapper .search-input:focus {
  background-color: #fff !important;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #444;
}

.search-wrapper .search-input:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-wrapper .search-input:focus + .material-icons {
  color: #444;
}

.search .search-wrapper .material-icons {
  cursor: pointer;
  position: absolute;
  right: 135px;
  top: 0;
}

/* Approver panel - create form */
.file-preview {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.del-approver {
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 8px;
}

.dropzone {
  background-color: rgba(176, 190, 197, 0.2);
  border: 2px #90a4ae dashed;
  margin: 0 auto;
  width: 100%;
}

#previews {
  /* Hide the delete button initially */
  /* Hide the start and cancel buttons and show the delete button */
}

#previews .delete {
  display: none;
}

#previews .dz-success .start,
#previews .dz-success .cancel {
  display: none;
}

#previews .dz-success .delete {
  display: block;
}

.dz-default.dz-message {
  white-space: pre-line;
}

.fab {
  background-color: unset !important;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.fixed-action-btn ul {
  bottom: 30px;
}

.selected-doc {
  background-color: #546e7a !important;
  color: #fff !important;
}

.selected-doc i {
  color: #fff !important;
}

#homepage .card,
#homepage .card-content i {
  color: #546e7a;
}

#homepage .card-content span {
  cursor: default;
  margin-left: 10px;
}

#homepage .card-content .truncate::after {
  content: attr(title);
}

.select-dropdown.dropdown-trigger {
  color: #fff;
}

.component {
  position: absolute;
  -ms-touch-action: none;
      touch-action: none;
  z-index: 1;
}

.component input[type='text'] {
  background-color: rgba(245, 245, 245, 0.5);
  border: 1px solid #aaa;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  min-width: 150px;
  outline: none;
  width: 150px;
}

.component input[type='text']:focus {
  border-color: #1e90ff;
  -webkit-box-shadow: 0 0 8px 0 #1e90ff;
          box-shadow: 0 0 8px 0 #1e90ff;
}

.component input[type='checkbox'] ~ .move-handle {
  left: -42px;
}

.component i {
  color: #fff;
  font-size: 22px;
  position: absolute;
}

.close {
  background-color: #f00;
  font-weight: bold;
  right: -26px;
}

.close:hover {
  background-color: #ff5555;
  cursor: pointer;
}

.move-handle {
  background-color: #90a4ae;
  font-weight: normal;
  left: -26px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.move-handle:hover {
  background-color: rgba(170, 187, 196, 0.494);
  cursor: move;
}

.image-box {
  max-width: 100vw;
  position: relative;
  width: 700px;
}

#directionPad {
  bottom: 10%;
  position: fixed;
  right: 5%;
}

#directionPad i {
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 36px;
  position: absolute;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#directionPad i:nth-child(1) {
  bottom: 50px;
  right: 50px;
}

#directionPad i:nth-child(2) {
  bottom: 10px;
  right: 10px;
}

#directionPad i:nth-child(3) {
  bottom: -30px;
  right: 50px;
}

#directionPad i:nth-child(4) {
  bottom: 10px;
  right: 90px;
}
/*# sourceMappingURL=styles.css.map */