<!-- All modal -->
<div id="create-form" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Create new form</h4>
    <div class="create-form-container row">
      <div class="create-form-left col m6">
        <form action="/docs/upload" method="post" class="dropzone" id="file-pickers">
          <div class="striped" id="previews">
            <div id="template">
              <!-- This is used as the file preview template -->
              <div class="row">
                <div class="col s12">
                  <img class="mx-auto materialboxed" style="display: block;max-width: 100%;" data-dz-thumbnail />
                </div>
                <div class="col s12">
                  <span class="truncate">Filename: <strong data-dz-name></strong></span>
                  <span class="truncate">Size: <strong data-dz-size></strong></span>
                  <span class="truncate">Type: <strong data-dz-type></strong></span>
                </div>
              </div>
              {{!-- <div>
              </div> --}}
              <div>
                <strong class="red-text truncate" data-dz-errormessage></strong>
                <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                  <div class="determinate" style="width: 0%" data-dz-uploadprogress></div>
                </div>
              </div>
              <div>
                <button class="btn waves-effect waves-light alert-info start">
                  <i class="material-icons right">file_upload</i>
                  <span>Start</span>
                </button>
                <button data-dz-remove class="btn waves-effect waves-light alert-warning cancel">
                  <i class="material-icons right">cancel</i>
                  <span>Cancel</span>
                </button>
                <button data-dz-remove class="btn waves-effect waves-light alert-danger delete">
                  <i class="material-icons right">delete_forever</i>
                  <span>Delete</span>
                </button>
              </div>
            </div>
          </div>
          <div class="fallback">
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input id="file-picker" name="file-picker" type="file" accept="image/*">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
      </div>
      </form>
      <form action="/docs/add" method="post" class="col m6">
        <div class="create-form-right">
          <div class="input-field">
            <input type="text" name="formname" id="formname">
            <label for="formname">Form name</label>
          </div>
          <div id="approver-holder1" class="approver-holder input-field">
            <input type="text" name="appr1" id="appr1">
            <label for="appr1">Approver 1</label>
          </div>
          <a id="add-approver" href="#!" class="btn-floating waves-effect waves-block" style="margin: 0 auto;">
            <i class="material-icons">add</i>
          </a>
          <div class="hide">
            <input type="text" name="id" id="id">
            <input type="text" name="filename" id="filename">
            <input type="text" name="originalname" id="originalname">
          </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" id="btn-submit-form" disabled class="modal-action modal-close waves-effect waves-green btn-flat start">Submit</button>
    <button data-dz-remove type="reset" id="btn-reset-form" class="waves-effect waves-green btn-flat">Reset</button>
  </div>
  </form>
</div>