{{#if success_msg}}
  <div class="row">
    <div class="col m6 s12 mx-auto alert alert-success" style="float: unset;">{{success_msg}}</div>
  </div>
{{/if}}

{{#if error_msg}}
  <div class="row">
    <div class="col m6 s12 mx-auto alert alert-danger" style="float: unset;">{{error_msg}}</div>
  </div>
{{/if}}